<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence" version="2.1">
    <persistence-unit name="test">
        <class>kik.KN.repository.entities.AccessLevelEntity</class>
        <class>kik.KN.repository.entities.ActsEntity</class>
        <class>kik.KN.repository.entities.AddressEntity</class>
        <class>kik.KN.repository.entities.AddressPrecisionEntity</class>
        <class>kik.KN.repository.entities.AdvertTypeEntity</class>
        <class>kik.KN.repository.entities.AnalyticalCalculationAnalogsEntity</class>
        <class>kik.KN.repository.entities.AnalyticalCalculationsEntity</class>
        <class>kik.KN.repository.entities.ApartmentAdsEntity</class>
        <class>kik.KN.repository.entities.AuthUserEntity</class>
        <class>kik.KN.repository.entities.BalconyTypeEntity</class>
        <class>kik.KN.repository.entities.BathroomFloorTypeEntity</class>
        <class>kik.KN.repository.entities.BathroomTypeEntity</class>
        <class>kik.KN.repository.entities.BathroomWallFacingTypeEntity</class>
        <class>kik.KN.repository.entities.CalculationMethodTypeEntity</class>
        <class>kik.KN.repository.entities.CanalizationTypeEntity</class>
        <class>kik.KN.repository.entities.CeilingTypeEntity</class>
        <class>kik.KN.repository.entities.ColdWaterSupplyTypeEntity</class>
        <class>kik.KN.repository.entities.CommercialEstateAdsEntity</class>
        <class>kik.KN.repository.entities.CommercialEstateBuildingTypeEntity</class>
        <class>kik.KN.repository.entities.CommercialEstateTypeEntity</class>
        <class>kik.KN.repository.entities.ConclusionsEntity</class>
        <class>kik.KN.repository.entities.ConditionEntity</class>
        <class>kik.KN.repository.entities.ConditionTypeEntity</class>
        <class>kik.KN.repository.entities.CorrectionCoefsEntity</class>
        <class>kik.KN.repository.entities.CoveringTypeEntity</class>
        <class>kik.KN.repository.entities.CreditsEntity</class>
        <class>kik.KN.repository.entities.DivisibilityTypeEntity</class>
        <class>kik.KN.repository.entities.DoorTypeEntity</class>
        <class>kik.KN.repository.entities.ElectricityTypeEntity</class>
        <class>kik.KN.repository.entities.EntranceDoorTypeEntity</class>
        <class>kik.KN.repository.entities.EstateTypeEntity</class>
        <class>kik.KN.repository.entities.EstateTypeMappingEntity</class>
        <class>kik.KN.repository.entities.FloorTypeEntity</class>
        <class>kik.KN.repository.entities.FoundationTypeEntity</class>
        <class>kik.KN.repository.entities.FrameTypeEntity</class>
        <class>kik.KN.repository.entities.FurnitureEntity</class>
        <class>kik.KN.repository.entities.GasSupplyTypeEntity</class>
        <class>kik.KN.repository.entities.HeatingTypeEntity</class>
        <class>kik.KN.repository.entities.HotWaterSupplyTypeEntity</class>
        <class>kik.KN.repository.entities.HouseAdsEntity</class>
        <class>kik.KN.repository.entities.HouseTypeEntity</class>
        <class>kik.KN.repository.entities.ImagesEntity</class>
        <class>kik.KN.repository.entities.InteriorDoorTypeEntity</class>
        <class>kik.KN.repository.entities.InternetTypeEntity</class>
        <class>kik.KN.repository.entities.LandAdsEntity</class>
        <class>kik.KN.repository.entities.LandOwnershipTypeEntity</class>
        <class>kik.KN.repository.entities.LayoutTypeEntity</class>
        <class>kik.KN.repository.entities.ObjectsEntity</class>
        <class>kik.KN.repository.entities.ObjectsLevelsEntity</class>
        <class>kik.KN.repository.entities.OuterEstateTypeEntity</class>
        <class>kik.KN.repository.entities.OuterFacingTypeEntity</class>
        <class>kik.KN.repository.entities.ParkingTypeEntity</class>
        <class>kik.KN.repository.entities.PreCostMemosEntity</class>
        <class>kik.KN.repository.entities.PriceUnitEntity</class>
        <class>kik.KN.repository.entities.RegionEntity</class>
        <class>kik.KN.repository.entities.RelievoTypeEntity</class>
        <class>kik.KN.repository.entities.RentPeriodTypeEntity</class>
        <class>kik.KN.repository.entities.RepairTypeEntity</class>
        <class>kik.KN.repository.entities.RoofTypeEntity</class>
        <class>kik.KN.repository.entities.RoomTypeEntity</class>
        <class>kik.KN.repository.entities.SourceEntity</class>
        <class>kik.KN.repository.entities.SurveyDataAdvertsEntity</class>
        <class>kik.KN.repository.entities.SurveyTypeEntity</class>
        <class>kik.KN.repository.entities.SurveysEntity</class>
        <class>kik.KN.repository.entities.SurveysDataEntity</class>
        <class>kik.KN.repository.entities.SurveysDataPriceEntity</class>
        <class>kik.KN.repository.entities.TelephoneFacilityEntity</class>
        <class>kik.KN.repository.entities.TerritoryTypeEntity</class>
        <class>kik.KN.repository.entities.WallFacingTypeEntity</class>
        <class>kik.KN.repository.entities.WallTypeEntity</class>
        <class>kik.KN.repository.entities.WindowTypeEntity</class>
        <class>kik.KN.repository.entities.ClaimsPurchaseMemosEntity</class>
        <properties>
            <property name="hibernate.connection.url" value="jdbc:sqlserver://192.168.1.22:1433;databaseName=oris_kik_test"/>
            <property name="hibernate.connection.driver_class" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
        </properties>
    </persistence-unit>
</persistence>
